# ALT HYPOTHESIS: Per capita income has not increaed in proportion to GDP per capita

## Importing libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plot
#plot.style.use('classic')

## Importing first data set - GDP for World

In [2]:
# Revised GDP US$ per capita
gdp_df = pd.read_excel("datasets/GDP_CurrentUS.xls", sheet_name="Data")
gdp_df = gdp_df.transpose()
gdp_df.drop(columns = [0, 1], inplace=True)
gdp_df.drop(labels = ["Unnamed: 2", "Unnamed: 3", "Data Source"], inplace = True)
gdp_df.index = gdp_df[2]
# Drop all years before 1990
for i in range(1960, 2000):
    gdp_df.drop([i], inplace = True)
    
gdp_df.columns = gdp_df.iloc[0]
# Drop extra row
gdp_df.drop(labels = ["Country Code"], inplace = True)
# Rename column
gdp_df.rename(columns = {"Country Code" : "Year"}, inplace = True)
# Drop Years column, Now used as an index
#gdp_df.drop(columns = ["Year"], inplace = True)
# Delete columns of countries not in OECD
# -> Need List of OECD countries, get from wage datas
gdp_df.head()

Country Code,Year,ABW,AFG,AGO,ALB,AND,ARB,ARE,ARG,ARM,...,VIR,VNM,VUT,WLD,WSM,XKX,YEM,ZAF,ZMB,ZWE
2,,,,,,,,,,,,,,,,,,,,,
2000.0,2000,20620.7,NaN,556.836,1126.68,21854.2,2605.63,33291.4,7708.1,622.742,...,NaN,390.093,1470.57,5499.15,1542.07,1087.76,554.449,3032.43,345.69,563.058
2001.0,2001,20669,NaN,527.334,1281.66,22971.5,2506.37,31280.8,7208.37,694.423,...,NaN,404.808,1363.11,5397.58,1557.02,1490.36,550.36,2666.47,382.941,568.386
2002.0,2002,20436.9,179.427,872.494,1425.12,25066.9,2466.64,31567.5,2593.4,783.241,...,30126.3,430.053,1354.15,5533.85,1633.04,1413.53,579.853,2502.28,382.242,530.531
2003.0,2003,20833.8,190.684,982.961,1846.12,32272,2726.84,33499.1,3349.81,930.127,...,31823.1,480.58,1580.58,6131.76,1909.12,1638.1,620.383,3751.28,435.458,478.007
2004.0,2004,22570,211.382,1255.56,2373.58,37969.2,3134.84,36333.2,4277.72,1191.92,...,35024.5,546.91,1788.09,6821.77,2353.55,2086.54,709.965,4833.63,538.592,482.998

In [3]:
# Source: OECD Data sets
# Avalible: https://data.oecd.org/earnwage/average-wages.htm
wage_df = pd.read_csv("datasets/AverageWages_OECD_2000_2020.csv", usecols=['LOCATION', 'TIME', 'Value'])
wage_df.Value = wage_df.Value.div(1000)    # put value into thousands
wage_df.columns = ['Location', 'Year', 'Average_Wage']    # Rename columns appropriately
#wage_df.drop(wage_df.loc[wage_df['Year'] < 1980].index, inplace = True)
#wage_df.drop(wage_df.loc[wage_df['MEASURE'] != "USD"].index, inplace=True)wage_df.index = gdp_df['Year']
wage_df.index = wage_df['Year']
wage_df.drop(columns = ['Year'], inplace=True)
wage_df.head()

     Location  Average_Wage
Year
1990      AUS     40.717483
1991      AUS     40.523590
1992      AUS     41.337046
1993      AUS     41.717578
1994      AUS     42.000420

In [4]:
# Getting countries list from wages_df
oecd_countries = wage_df['Location'].unique() # Find Unique categories in data
oecd_countries

array(['AUS', 'AUT', 'BEL', 'CAN', 'CZE', 'DNK', 'FIN', 'FRA', 'DEU',
       'GRC', 'HUN', 'IRL', 'ITA', 'JPN', 'KOR', 'LUX', 'MEX', 'NLD',
       'NOR', 'POL', 'PRT', 'SVK', 'ESP', 'SWE', 'CHE', 'GBR', 'USA',
       'EST', 'ISR', 'SVN', 'OECD', 'ISL', 'NZL', 'CHL', 'LVA', 'LTU'],
      dtype=object)

In [5]:
# Drop countries from gdp_df not in oecd data
# Create list of countries included in gdp_data for comparison
gdp_countries = list(gdp_df)
# compare gdp and oecd countries, drop non-oecd countries
for gdp_country in gdp_countries:
    found = False
    for oecd_country in oecd_countries:
        if oecd_country == gdp_country:
            # Divide by 1000 to get value in thousands at the same time
            gdp_df[gdp_country] = gdp_df[gdp_country].div(1000)    # put value into thousands
            found = True
            break
        # Exception for Year column
        if gdp_country == 'Year':
            found = True
            break
    if not found:
        gdp_df.drop(columns = [gdp_country], inplace=True)
        
gdp_df.head()

Country Code,Year,AUS,AUT,BEL,CAN,CHE,CHL,CZE,DEU,DNK,...,MEX,NLD,NOR,NZL,POL,PRT,SVK,SVN,SWE,USA
2,,,,,,,,,,,,,,,,,,,,,
2000.0,2000,21.6792,24.5645,23.0415,24.1902,37.8683,5.0749,6.02904,23.6359,30.7435,...,7.15781,26.1494,38.1315,13.6411,4.50145,11.4978,5.41315,10.2013,29.6249,36.3349
2001.0,2001,19.4909,24.5375,22.9952,23.7382,38.539,4.57459,6.63704,23.6079,30.7517,...,7.54457,26.8733,38.5427,13.8829,4.99124,11.7246,5.71722,10.4798,27.2479,37.1332
2002.0,2002,20.0825,26.4017,24.8876,24.1693,41.3764,4.44625,8.06087,25.0777,33.2287,...,7.59314,29.204,43.0845,16.8742,5.20717,12.8753,6.53355,11.7772,29.8992,38.0232
2003.0,2003,23.447,32.2229,30.5877,28.2007,48.0876,4.77256,9.81857,30.2436,40.4588,...,7.07537,35.6722,50.1349,21.9137,5.7016,15.763,8.7127,14.849,37.3218,39.4965
2004.0,2004,30.4307,36.8215,35.3644,32.0343,53.3401,6.19485,11.7499,34.0441,46.5116,...,7.48449,40.3624,57.6038,25.4202,6.68139,18.031,10.6718,17.2331,42.8217,41.7128

In [15]:
#gdp_df.drop(columns=['Year'], inplace=True)
gdp_df.stack()
gdp_df.merge(wage_df, left_index = True, right_index=True)

,AUS,AUT,BEL,CAN,CHE,CHL,CZE,DEU,DNK,ESP,...,NOR,NZL,POL,PRT,SVK,SVN,SWE,USA,Location,Average_Wage
2000.0,21.6792,24.5645,23.0415,24.1902,37.8683,5.0749,6.02904,23.6359,30.7435,14.7131,...,38.1315,13.6411,4.50145,11.4978,5.41315,10.2013,29.6249,36.3349,AUS,46.156005
2000.0,21.6792,24.5645,23.0415,24.1902,37.8683,5.0749,6.02904,23.6359,30.7435,14.7131,...,38.1315,13.6411,4.50145,11.4978,5.41315,10.2013,29.6249,36.3349,AUT,48.301772
2000.0,21.6792,24.5645,23.0415,24.1902,37.8683,5.0749,6.02904,23.6359,30.7435,14.7131,...,38.1315,13.6411,4.50145,11.4978,5.41315,10.2013,29.6249,36.3349,BEL,51.082829
2000.0,21.6792,24.5645,23.0415,24.1902,37.8683,5.0749,6.02904,23.6359,30.7435,14.7131,...,38.1315,13.6411,4.50145,11.4978,5.41315,10.2013,29.6249,36.3349,CAN,44.177813
2000.0,21.6792,24.5645,23.0415,24.1902,37.8683,5.0749,6.02904,23.6359,30.7435,14.7131,...,38.1315,13.6411,4.50145,11.4978,5.41315,10.2013,29.6249,36.3349,CZE,16.836351
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019.0,55.0603,50.1377,46.4207,46.1947,81.9937,14.8965,23.4946,46.4452,60.1703,29.6004,...,75.4196,42.0844,15.6925,23.2521,19.2663,25.9462,51.615,65.2975,ISL,68.005794
2019.0,55.0603,50.1377,46.4207,46.1947,81.9937,14.8965,23.4946,46.4452,60.1703,29.6004,...,75.4196,42.0844,15.6925,23.2521,19.2663,25.9462,51.615,65.2975,NZL,44.030745
2019.0,55.0603,50.1377,46.4207,46.1947,81.9937,14.8965,23.4946,46.4452,60.1703,29.6004,...,75.4196,42.0844,15.6925,23.2521,19.2663,25.9462,51.615,65.2975,CHL,26.915837
2019.0,55.0603,50.1377,46.4207,46.1947,81.9937,14.8965,23.4946,46.4452,60.1703,29.6004,...,75.4196,42.0844,15.6925,23.2521,19.2663,25.9462,51.615,65.2975,LVA,28.453587
2019.0,55.0603,50.1377,46.4207,46.1947,81.9937,14.8965,23.4946,46.4452,60.1703,29.6004,...,75.4196,42.0844,15.6925,23.2521,19.2663,25.9462,51.615,65.2975,LTU,28.913898

In [7]:
# Data struxtures are extremely different, need to change gdp to conform with oecd, this is where other data sets will be pulled

In [8]:
# Creating a dictionary containing Country and their associated data by year
# This makes plotting multiple graphs with a function easier
def get_country_data(data_frame, country: str):
    return data_frame[data_frame['Location'] == country]
# An example
USA_data = get_country_data(wage_df, 'USA')

USA_data.head(8)

     Location  Average_Wage
Year
1990      USA     46.362057
1991      USA     46.676728
1992      USA     47.758461
1993      USA     47.484217
1994      USA     47.301622
1995      USA     47.576970
1996      USA     48.266276
1997      USA     49.464667

In [9]:
# Trial Plot of USA
usa_wage_data = get_country_data(wage_df, 'CAN')
plot.plot(gdp_df['Year'], gdp_df['CAN'], usa_wage_data['Year'], usa_wage_data['Average_Wage'])
plot.legend(['GDP', 'Wage'])

KeyError: 'Year'